video {
    opacity: 1;
    object-fit: cover;
    left: 0;
    top:0;
    position: absolute;
    height: 100vh;
    width: 100%;
}
.video-citation{
    display: block;
    color: black;
    background-color: #393a10;
}
.colorscheme{
    color: #a7a1a0;
    color: #393a10;
    color: #cb9f01;
    color: #d1cac7;
    color: #5efda0;
}