.login {
  margin: auto;
  height: 100px;
  width: 100px;
}

.header {
  border-bottom: 1px solid red;
  height: 2vw;
}

p {
  margin: 25px;
}

.body {

border: solid red;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px
}

.searchBar {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  display: flex;
  border: solid red;
}

.recipes {
  margin: auto;
  height: 75vh;
  width: fit-content;
  margin-top: 10px;
  border: solid red;
}


