.login {
  margin: auto;
}

.header {
  border-bottom: 1px solid red;
  height: 2vw;
}

p {
  margin: 25px;
}

.body {
height: 100vh;
border: solid red;
}

.searchBar {
  margin: auto;
  width: 90vw;
  height: 5vw;
  margin-top: 10px;
  display: flex;
  align-items: space-between;
  border: solid red;
}

.results {
  margin: auto;
  width: 90vw;
  height: 95vw;
  margin-top: 10px;
  border: solid red;
}


