button {
  padding: 5px 25px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.button-login {
  background-color: #33a0ff;
  color: white;
  height: 25px;
  width: 125px;
}

.button-submit {
  background-color: #33a0ff;
  color: white;
  height: 25px;
  width: 125px;
}

.button-favorites {
  background-color: #33a0ff;
  color: white;
  height: 25px;
  width: 150px;
}
